@import "other/_mixin-and-variables";
// Данный фаил солянка визуального интерфейса

////////////////////////////////////////////////////////////
// #########################################################
// ####################---NOISE---##########################
// #########################################################
////////////////////////////////////////////////////////////

////////////////////////**********//////////////////////////
////////******************************************//////////
///////////////////////**********///////////////////////////
// --------------------------------------------------------------------------------------------------------------------

// #########################################################
// ####################---Цвета---##########################
// #########################################################

////////////////////////////////////////////////////////////
/////////////////////////---DARK---/////////////////////////
////////////////////////////////////////////////////////////
// // цвет картоки более светлый
// $ColorlightGray--Dark: #27252c;

// цвет фона bg
$ColorBg--First: #050505;
// цвет ограничевающего контейнера
$ColorBgContainer--First: #05020d;
// цвет контейнера карточки блока
$ColorBgContainerBlock--First: #16141c;

// цвет контейнера текста
$ColorBgContainerBlockText--First: #25222e;
//цвет текста
$ColorText--First: #ffffff;

//цвет кнопки
$Colorbtn--First: #1e1b25;
//цвет текста кнопки
$ColorTextbtn--First: #f9b333;

// тень текста
$ColorShadowText--First: drop-shadow(18px 13px 35px rgba(0, 0, 0, 0.14));






